/*OVERORDNET*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FAF7F7;
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}



/*HEADER*/

header {
    background-color: #EA5045;
    width: 100vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;




}

#logo {
    background-image: url(svg/logo.svg);
    width: 15vw;
    height: 3.8vw;
    background-size: cover;
    flex-grow: 2;

}

.right {
    display: flex;
    justify-content: space-between;
    width: 15vw;
    height: 6vw;
    align-items: center;
    margin-right: 1rem;
}

#profile {
    background-image: url(svg/profile_white.svg);
    width: 4vw;
    height: 4vw;
    background-size: cover;
    margin-top: 0.1rem;

}






/*NAVIGATION / BURGERMENU*/

#menuknap {
    color: white;
    font-size: 1.8rem;
    font-family: 'canada-type-gibson', sans-serif;
    font-weight: bold;

}


.hidden {
    transform: translateX(100%);
    opacity: 0;
    display: none;


}

/*LOGIN*/
#login {
    display: flex;
    flex-direction: column;
    font-family: 'arial', sans-serif;
    display: none;

}

/*header login*/

header #login {
    background-color: #EA5045;
    width: 100vw;
    height: 35vw;
    display: flex;
    align-items: center;
}

#logo_login {
    background-image: url(svg/logo.svg);
    width: 25vw;
    height: 6.3vw;
    background-size: cover;
    margin: 0 auto;
}

/*inputfelter*/

#login_form {
    display: flex;
    flex-direction: column;
}



.inputbox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 13vw;

}

.inputbox input {
    border-radius: 50px;
    border-color: #EA5045;
    padding: 5vw;
    margin: 2vw;
    border-style: none;
    background-color: white;
    width: 65vw;
    height: 7vw;
    color: #EA5045;


}


::placeholder {
    /* Firefox, Chrome, Opera */
    color: #EA5045;
    font-weight: bold;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #EA5045;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #EA5045;
    font-weight: bold;
}

/*Glemt password og husk*/
.container1 {
    display: flex;
    justify-content: flex-end;
    width: 65vw;
    margin: 0 auto;

}



.psw a {
    text-align: right;
    color: #EA5045;
    font-size: 0.9rem;



}



/*login-knapper*/


#login .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20vw;
}

#login hr {
    border-style: none;
    width: 4vw;
    height: 0.5vw;
    background-color: #DEDCDB;
    border-radius: 50px;
    margin-bottom: 4vw;
}

.loginbtn {
    border-radius: 50px;
    background-color: #EA5045;
    color: #ffffff;
    border-style: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 2vw;
    margin: 2vw;
    width: 65vw;
    height: 10vw;



}


.facebookbtn {
    border-radius: 50px;
    background-color: #FAF7F7;
    color: #EA5045;
    border-style: solid;
    border-color: #EA5045;
    margin-top: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 2vw;
    margin: 2vw;
    width: 65vw;
    height: 10vw;

}

#login .txt {
    margin: 0 auto;
    position: relative;
}

.fblogo {
    background-image: url(svg/fb.svg);
    width: 3vw;
    height: 3vw;
    background-size: cover;
}

/*
.rmb {
    text-align: right;
    color: #EA5045;
    font-size: 0.9rem;

}

.rmb .checkbox {
    border-style: solid;
    border-color: #EA5045;
    background-color: #EA5045;

}*/

#frontpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 0.5rem auto;
}

.box {

    /* width: 29vw;
    height: 29vw;
    margin: 0.4rem;*/


}

.row {
    display: flex;
    width: 100vw;
    justify-content: center;



}

.col {
    position: relative;
    margin: 5px;
    background-color: #ffffff;
    height: 29vw;
    width: 29vw;
}


#frontpage .text {
    font-family: 'canada-type-gibson', sans-serif;
    color: #F58E81;
    font-weight: 600;
    margin: 0 auto;

}


img {
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
    margin-bottom: 1rem;
}


#materialer,
#skema,
#notifikationer,
#mail,
#favoritter,
#grupper,
#chat,
#soeg,
#afleveringer,
#x1,
#x2,
#x3 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: pointer;
}

#materialer:hover,
#skema:hover,
#notifikationer:hover,
#mail:hover,
#techlounge:hover,
#favoritter:hover,
#grupper:hover,
#chat:hover,
#soeg:hover,
#afleveringer:hover,
#aktuelt:hover,
#x1:hover,
#x2:hover,
#x3:hover {
    background-color: #DEDCDB;
}

#techlounge {
    position: relative;
    margin: 5px;
    background-color: #ffffff;
    width: calc(58vw + 10px);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat img {
    width: 10vw;
    height: 7vw;
    margin: 0 auto;
    margin-bottom: 1rem;

}


.row1 {
    display: flex;
}


#aktuelt {
    width: calc(58vw + 10px);
    height: calc(58vw + 10px);
    background-color: #ffffff;
    margin: 5px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#soeg {
    margin-bottom: 10px;

}

#afleveringer {}


#frontpage a {
    text-decoration: none;
}

/*#techlounge {
    flex-grow: 2;
    background-color: #ffffff;
    width: 58vw;
    height: 29vw;
    margin: 0.4rem;
    flex-basis: 334;


}*/
